.footer {
  margin-top: 70px;
  padding-block: 52px;
  background-color: var(--clr-theme-trans);

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__nav {
    a {
      color: rgba(38, 62, 51, 0.7);
      text-decoration: none;
    }
  }
}
