@charset "UTF-8";

/* Box sizing rules */

*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}


/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */

ul[role=list],
ol[role=list] {
    list-style: none;
}


/* Set core root defaults */

html:focus-within {
    scroll-behavior: smooth;
}


/* Set core body defaults */

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}


/* A elements that don't have a class get default styles */

a:not([class]) {
    text-decoration-skip-ink: auto;
}


/* Make images easier to work with */

img,
picture {
    max-width: 100%;
    display: block;
}


/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
    font: inherit;
}

button {
    cursor: pointer;
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/* clears the ‘X’ from Internet Explorer */

input[type=search]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}


/* clears the ‘X’ from Chrome */

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    display: none;
}

@font-face {
    font-family: "DejaVu Sans";
    src: url("../fonts/DejaVuSans.woff2") format("woff2"), url("../fonts/DejaVuSans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --clr-white: #fff;
    --clr-black: #000;
    --clr-gray: rgba(38, 62, 51, 0.05);
    --clr-success: #5b9279;
    --clr-danger: #fc5555;
    --clr-theme: #5b9279;
    --clr-theme-dark: #263e33;
    --clr-theme-trans: rgba(91, 146, 121, 0.03);
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.gap {
    gap: var(--gap, 1rem);
}

.ff-en {
    font-family: "Roboto", sans-serif;
}

.ff-geo {
    font-family: "DejaVu Sans", sans-serif;
}

.fz-900 {
    font-size: 1.5rem;
}

.fz-800 {
    font-size: 1.25rem;
}

.fz-700 {
    font-size: 1.125rem;
}

.fz-400 {
    font-size: 1rem;
}

.fz-300 {
    font-size: 0.875rem;
}

.text-accent {
    color: rgba(38, 62, 51, 0.7);
}

@media (max-width: 834px) {
    .hide-on-md {
        display: none;
    }
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1rem;
    line-height: 1.5;
    background-color: var(--clr-white);
    color: var(--clr-theme-dark);
}

body.en {
    font-family: "Roboto", sans-serif;
}

body.geo {
    font-family: "DejaVu Sans", sans-serif;
}

h1,
h2,
h3 {
    line-height: 1.1;
}

p {
    max-width: 60ch;
}

.container {
    width: min(100% - 2rem, 1272px);
    margin-inline: auto;
}

.heading-2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--clr-theme-dark);
}

.exchange {
    margin-bottom: 32px;
}

.exchange__header {
    padding-inline: 32px;
    padding-block: 24px 32px;
    background: rgba(91, 146, 121, 0.03);
}

@media (max-width: 560px) {
    .exchange__header {
        padding-left: 20px;
    }
}

@media (max-width: 834px) {
    .exchange__header p {
        display: none;
    }
}

.dynamics {
    padding: 24px 32px;
    background: var(--clr-theme-trans);
}

@media (max-width: 560px) {
    .dynamics {
        padding: 0;
    }
}

.dynamics header {
    margin-bottom: 27px;
}

@media (max-width: 834px) {
    .dynamics header {
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
    }
}

.header {
    margin-bottom: 52px;
    padding-block: 32px 52px;
    background-image: url("../images/Group 372.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.header__top {
    margin-bottom: 52px;
}

.logo a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--clr-theme-dark);
    font-weight: 600;
    text-decoration: none;
}

.languages {
    display: flex;
    align-items: center;
    list-style-type: none;
}
@media (max-width: 800px) {
    .languages {
        display: none;
    }
}

.languages a {
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--clr-theme-dark);
    text-decoration: none;
}

.languages a.active {
    /* background: #eff1f0; */
    border: 1px solid #8b9891;
    box-sizing: border-box;
    border-radius: 3px;
    height: 22px;
    /* padding: 13px 24px; */
}

.convert header {
    margin-bottom: 52px;
}

@media (max-width: 834px) {
    .convert header {
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
    }
}

.convert .converter {
    margin-bottom: 52px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
    gap: 24px;
}

.convert__actions {
    display: flex;
    align-items: center;
    gap: 32px;
}

.convert__actions a {
    display: flex;
    gap: 8px;
    font-size: 1rem;
    color: rgba(38, 62, 51, 0.7);
    text-decoration: none;
}

.currency-input {
    position: relative;
}

.currency-input input {
    padding-block: 26px;
    padding-left: 100px;
    width: 100%;
    font-family: inherit;
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--clr-theme-dark);
    background: var(--clr-white);
    border: 1px solid rgba(38, 62, 51, 0.1);
    box-sizing: border-box;
    border-radius: 8px;
}

.currency-input input::placeholder {
    font-family: inherit;
    color: rgba(38, 62, 51, 0.5);
}

.currency-picker {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding-inline: 1rem;
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--clr-theme-dark);
    background: var(--clr-gray);
    border-radius: 7px 0px 0px 7px;
    transition: all 200ms ease-in-out;
}

.currency-picker.active {
    background-color: #5b9279;
    color: var(--clr-white);
    border-bottom-left-radius: 0px;
}

.currency-picker>button {
    display: flex;
    align-items: center;
    background-color: transparent;
    gap: 1rem;
    color: inherit;
    text-transform: uppercase;
    border: none;
}

.currency-picker>button>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.currency-picker>button>div img {
    width: 21px;
}

.currency-picker>div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.currency-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #f4f5f5;
    border: 1px solid rgba(38, 62, 51, 0.5);
    border-radius: 0 0 22px 22px;
    z-index: 10;
}

.currency-options button {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding-inline: 1rem;
    padding-block: 0.25rem;
    color: var(--clr-theme-dark);
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.currency-options button img {
    width: 20px;
    height: 20px;
}

.tabs__headings {
    margin: 0;
    margin-bottom: 56px;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(38, 62, 51, 0.1);
    overflow-x: auto;
    /* width */
    /* Track */
    /* Handle */
    /* Handle on hover */
}

.tabs__headings::-webkit-scrollbar {
    height: 2px;
}

.tabs__headings::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.tabs__headings::-webkit-scrollbar-thumb {
    background: rgb(230, 230, 230);
}

.tabs__headings::-webkit-scrollbar-thumb:hover {
    background: rgb(194, 194, 194);
}

.tabs__headings button {
    position: relative;
    padding-inline: 32px;
    padding-block: 17px;
    font-size: 1rem;
    color: var(--clr-theme-dark);
    white-space: nowrap;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.tabs__headings button::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transition: background-color 200ms ease-in-out;
}

.tabs__headings button:hover::before,
.tabs__headings button:focus::before {
    background-color: var(--clr-theme-dark);
}

.tabs__headings button.active::before {
    background-color: var(--clr-theme-dark);
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.dropdown.active>button {
    border-radius: 22px 22px 0 0;
}

.dropdown.active .dropdown-options {
    max-height: 500px;
    transform: scaleY(1);
    opacity: 1;
}

.dropdown-options {
    position: absolute;
    max-height: 0;
    transform: scaleY(0);
    opacity: 0;
    transform-origin: top;
    transition: all 200ms ease-in-out;
}

.languages-dropdown {
    position: relative;
    width: fit-content;
}

@media (min-width: 834px) {
    .languages-dropdown {
        display: none;
    }
}

.languages-dropdown>button {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-block: 14px;
    padding-inline: 20px;
    background: rgba(38, 62, 51, 0.05);
    border: 1px solid rgba(38, 62, 51, 0.5);
    border-radius: 40px;
    transition: border-radius 200ms ease-in-out;
}

@media (max-width: 560px) {
    .languages-dropdown>button {
        padding-block: 10px;
        padding-inline: 16px;
    }
}

.languages-dropdown>button>div {
    display: flex;
    gap: 12px;
}

@media (max-width: 375px) {
    .languages-dropdown>button span {
        display: none;
    }
}

.languages-options {
    position: absolute;
    max-height: 0;
    transform: scaleY(0);
    opacity: 0;
    transform-origin: top;
    transition: all 200ms ease-in-out;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #f4f5f5;
    border: 1px solid rgba(38, 62, 51, 0.5);
    border-radius: 0 0 22px 22px;
    z-index: 10;
}

.languages-options a {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-block: 14px;
    padding-inline: 20px;
    font-size: 1.125rem;
    color: var(--clr-theme-dark);
    text-decoration: none;
    background-color: transparent;
    border: none;
}

@media (max-width: 375px) {
    .languages-options a span {
        display: none;
    }
}

.languages-options a img {
    width: 20px;
}

.filter {
    position: relative;
    width: fit-content;
}

.filter>button {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    min-width: 153px;
    padding-block: 14px;
    padding-inline: 20px;
    font-size: 1.125rem;
    color: var(--clr-theme-dark);
    background: rgba(38, 62, 51, 0.05);
    border: 1px solid rgba(38, 62, 51, 0.5);
    border-radius: 40px;
    transition: border-radius 200ms ease-in-out;
}

@media (max-width: 560px) {
    .filter>button {
        padding-block: 10px;
        padding-inline: 16px;
    }
}

.filter>button>div {
    display: flex;
    gap: 12px;
}

.filter input {
    all: unset !important;
    height: 100%;
    padding: 0;
    background-color: transparent;
}

.filter-dropdown.active>button {
    border-radius: 22px 22px 0 0;
}

.filter-dropdown.active .filter-options,
.filter-dropdown.active .languages-options {
    max-height: 500px;
    transform: scaleY(1);
    opacity: 1;
}

.filter-options {
    position: absolute;
    max-height: 0;
    transform: scaleY(0);
    opacity: 0;
    transform-origin: top;
    transition: all 200ms ease-in-out;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #f4f5f5;
    border: 1px solid rgba(38, 62, 51, 0.5);
    border-radius: 0 0 22px 22px;
    z-index: 10;
}

.filter-options button {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-block: 14px;
    padding-inline: 20px;
    font-size: 1.125rem;
    color: var(--clr-theme-dark);
    background-color: transparent;
    border: none;
}

.filter-by-date {
    min-width: 152px;
    width: max-content;
    position: relative;
}

.filter-by-date button {
    pointer-events: none;
    position: relative;
    background-color: #eff1f1;
    z-index: 10000;
    width: max-content;
}

.filter-by-date button span {
    white-space: nowrap;
}

.filter-by-date .date-input-wrap {
    position: absolute;
    inset: 0;
    z-index: 0;
}

.filter-by-date .date-input-wrap input::-webkit-datetime-edit {
    width: 100%;
    height: 100%;
    min-height: 42px;
    padding-block: 14px;
    padding-inline: 20px;
    z-index: 991;
}

.filter-by-date .date-input-wrap input::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 991;
    background: transparent;
}

.exchange-table {
    padding-bottom: 24px;
    overflow-x: auto;
    background: rgba(91, 146, 121, 0.03);
    max-height: 407px;
    overflow-y: clip;
    transition: all 200ms ease-in-out;
    /* width */
    /* Track */
    /* Handle */
    /* Handle on hover */
}

.exchange-table.active {
    max-height: 1000px;
}

.exchange-table::-webkit-scrollbar {
    height: 2px;
}

.exchange-table::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.exchange-table::-webkit-scrollbar-thumb {
    background: rgb(230, 230, 230);
}

.exchange-table::-webkit-scrollbar-thumb:hover {
    background: rgb(194, 194, 194);
}

.exchange-table table {
    width: 100%;
    min-width: 640px;
    border-collapse: collapse;
}

.exchange-table tbody tr:not(:last-child) td {
    border-bottom: 1px solid rgba(38, 62, 51, 0.05);
}

.exchange-table th {
    padding-block: 16px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--clr-theme-dark);
    background-color: var(--clr-white);
}

.exchange-table th,
.exchange-table td {
    text-align: left;
}

.exchange-table th:first-child,
.exchange-table td:first-child {
    padding-left: 32px;
}

@media (max-width: 560px) {
    .exchange-table th:first-child,
    .exchange-table td:first-child {
        padding-left: 20px;
    }
}

.exchange-table th:last-child,
.exchange-table td:last-child {
    text-align: center;
}

.exchange-table td {
    font-size: 0.875rem;
    color: var(--clr-theme-dark);
    padding-block: 28px;
}

.exchange-table td:last-child img {
    margin-inline: auto;
}

.show-more {
    display: grid;
    place-content: center;
    width: 100%;
    padding-block: 32px;
    background-color: rgba(91, 146, 121, 0.03);
    border: none;
    cursor: pointer;
}

.footer {
    margin-top: 70px;
    padding-block: 52px;
    padding-inline: 1rem;
    background-color: var(--clr-theme-trans);
}

@media (max-width: 560px) {
    .footer {
        display: flex;
        flex-direction: row-reverse;
    }
}

@media (max-width: 560px) {
    .footer>div:last-child {
        flex-direction: column;
    }
}

.footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@media (max-width: 560px) {
    .footer__nav {
        flex-direction: column;
    }
}

.footer__nav a {
    color: rgba(38, 62, 51, 0.7);
    text-decoration: none;
}

.get-app {
    margin-bottom: 54px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
}

@media (max-width: 560px) {
    .get-app>div {
        flex-direction: column;
    }
}

@media (max-width: 560px) {
    .get-app .heading-2 {
        font-size: 15px;
    }
}


/*# sourceMappingURL=style.css.map */

.filter-n-calendar-container {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 24px;
}

.filter-icon-container {
    padding: 12px 16px;
    background-color: #EFF1F0;
    border: 1px solid #8B9891;
    border-radius: 50px;
    display: grid;
    justify-items: center;
    align-items: center;
    cursor: pointer;
}

.bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(38, 62, 51, 0.5);
    z-index: 10000;
    display: none;
}

.popup-currency-selectors {
    background-color: #fff;
    margin: 80px 52px 0 52px;
    padding: 24px 32px;
    display: grid;
    grid-gap: 24px;
    overflow-y: auto;
    height: 100%;
    align-content: start;
    display: none;
}

.popup-header {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}

.popup-currency-selectors h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #263E33;
}

.popup-header img {
    cursor: pointer;
}

.currency-item {
    cursor: pointer;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 16px;
    align-items: center;
    justify-content: start;
    padding: 24px;
    background-color: #F4F5F4;
    border-radius: 7px;
}
/* MARIAM'S CSS CODE WRITTEN HERE */
.currency-item.checked{
    background: #5B9279;
    color: white;
}
.currency-item input {
    width: 24px;
    height: 24px;
}

.flagname {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-gap: 12px;
    justify-content: start;
}
/* Language controler */
.hidden-language-img{
    display: none;
    height: 24px;
    width: 24px;
}
/* burger bar button */
.burger-bar{
    display: none;
}
@media (max-width: 800px){
    .burger-bar{
        display: block;
        cursor: pointer;
    }
    .languages-dropdown{
        display: none;
    }
   .desktop-table{
       display: none;
   }
   .popup-currency-selectors{
    margin: 5px 5px 0 5px !important;
   }
}
/* burgerbar popup window */
.burger-bar-menu-main{
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    height: 100%;
    background: #ffffff;
    height: 100%;
    overflow: hidden;
}
.burger-bar-menu-parent{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-left: 26px;
}
.burger-bar-menu-header{
    padding-top: 46px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 24px;
}
.burger-bar-menu-header-top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mobile-burgerbar-header-right-side{
    display: flex;
    align-items: center;
    gap: 24px;
}
.burger-bar-menu-header-a{
    display: flex;
    align-items: center;
    gap: 8px;
}
.languages-mobile{
    display: flex;
    align-items: center;
    list-style-type: none;
}
.burger-bar-menu-parent a {
    text-decoration: none;
    /* fonts */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #263E33;
}
/* contact page */
.contact-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    margin-bottom: 52px;
    padding-block: 32px 52px;
}

.contactus-main{
    width: 100%;
    /* margin: 0 auto; */
    align-self: center;
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    justify-items: center;
    grid-gap: 50px;
}
.contact-page-section h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #263E33;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.contact-us{
    display: grid;
    grid-auto-flow: column;
    gap: 94px;
}
.forms{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* justify-items: center; */
    gap: 94px;
}
.label{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.01em;
    color: rgba(38, 62, 51, 0.8);
}
    label[required]::after {
        content: "*";
        color: red;
      }

.info-div{
    max-width: 338px;
    display: flex;
    justify-content: flex-start;
    gap: 24px;
    background: rgba(38, 62, 51, 0.05);
    border-radius: 8px;
    padding: 18px 18px 18px 32px;
}
.right-forms{
    display: grid;
    grid-auto-flow: column;
    align-items: flex-start;
    justify-content: start;
    gap: 42px;
}
.info-divs{
    display: flex;
    flex-direction: column;
    gap: 23px;
}
.info-divs-item{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
}
.info-divs-item input{
    background: #FAFCFB;
    border: 1px solid rgba(38, 62, 51, 0.3);
    border-radius: 8px;
    padding: 18px  18px ;
}
.textarea{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.msg-label{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #263E33;
}
.textares{
    height: 182px;
}
textarea{
    resize: none;
}
#sendMsg{
    background: #5B9279;
    border: none;
    border-radius: 8px;
    padding: 20px;
    /* fonts */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #EBEDFA;
}
.text-area{
    display: flex;
    flex-direction: column;
    gap: 45px;

}
@media(max-width: 1108px){
    .forms {
        flex-direction: column;
    }
}
@media (max-width: 769px){
    .right-forms{
        grid-auto-flow: row;
        align-items: center;
        justify-items: center;
    }
}
/* HIDE TABLE CONTENT ON MOBILE */
@media (max-width: 680px){
    .hidemobile{
        display: none;
    }
    table{
        gap: 3px;
    }
}
/* MARIAM'S CSS CODE END */
.currency-main-container {
    display: grid;
    grid-gap: 12px;
}
.flagname h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    /* #263E33 */
    color: #263E33;
}
.flagname img {
    width: 28px;
    height: 28px;
}
.currency-main-container p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #65756E;
}
.currencies-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 24px;
}
@media only screen and (max-width: 1439px) {
    .currencies-container {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media only screen and (max-width: 1130px) {
    .currencies-container {
        grid-template-columns: repeat(3, 1fr);
    }
    .popup-currency-selectors {
        margin: 52px 24px 0 24px;
    }
}
@media only screen and (max-width: 880px) {
    .currencies-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 640px) {
    .currencies-container {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 330px) {
    .popup-currency-selectors {
        margin: 52px 16px 0 16px;
    }
}

@media only screen and (max-width: 560px) {
    .convert .converter {
        margin-bottom: 52px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
    }
}

.new-button-currency-popup {
    padding: 14px 54px;
    background-color: #263E33;
    border-radius: 80px;
    color: #fff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    /* #FFFFFF */
    color: #FFFFFF;
}

.popup-footer {
    display: grid;
    justify-content: end;
    align-content: start;
}

#headingtabs {
    width: 100%;
    display: none;
    padding: 16px 24px;
    font-family: 'Roboto';
}

@media only screen and (max-width: 770px) {
    .tabs__headings {
        display: none;
    }
    #headingtabs {
        display: block;
    }
}